@using Newtonsoft.Json;
@using VWOSdk;
@model IndexViewModel

@{
    ViewBag.Title = "VWO | NetStandard-sdk Example | " + Model.GetVariation ?? "Not Part";
}

<h2 class="center  color-blue">VWO NetStandard SDK Example</h2>

<div class="main-container">
    <div class="left-container">
        <h2 class="center  color-grey">Settings</h2>
        <pre><code>
            @Html.Raw(Model.Settings)
    </code></pre>
    </div>

    <div class="right-container">
        <div class="half-containers">
            <h2 class="center  color-grey">Details</h2>

            <div class="center  margin--top">
                <div>Campaign test key - <strong>@Model.CampaignTestKey</strong></div>
            </div>
            <div class="center margin--top">
                <div>Campaign goal identifier - <strong>@Model.GoalIdentifier</strong></div>
            </div>

            <div class="center  margin--top">
                <div>userId - <strong>@Model.UserId</strong></div>
            </div>

            @if (string.IsNullOrEmpty(Model.GetVariation) == false) { 
            <div class="center  margin--top">
                <div>variationAssigned - <strong>@Model.GetVariation</strong></div>
            </div>
            } else {
            <div class="center  margin--top">
                <div>Did not become a part of campaign</div>
            </div>
            }
        </div>
        <div class="half-containers center margin--top">
            @if (string.IsNullOrEmpty(@Model.GetVariation) == false)
            {
                <button style="border: 4px solid #@Model.Changes">@Model.GetVariation</button>
            }
            else
            {
                <button style="border: 4px solid #777">Not part</button>
            }
        </div>
    </div>
</div>